@media (max-width:1150px){
    .computer-screen-plus-text{
        -moz-column-gap: none;
             column-gap: none;
        flex-direction: column;
        
    }

        .computer-monitor{
            transform:none;
        }
            .list-of-actions{
                display:flex;
                flex-direction: row;
                margin: 5rem auto 0;
                justify-content: space-around;
                -moz-column-gap: 20px;
                     column-gap: 20px;   
            }

                    .list-of-actions ul{
                        max-width: 400px;
                        margin:0 auto !important;
                        text-align: center;
                    }
                    

                            
}
@media (max-width:900px){

   body{
    justify-content: stretch; 
    align-items: stretch; 
   }
   header{
       max-width: 100%;
   }
    .attribution{
        display: none;
    }
    button{
        display: block;
        width:450px;
        margin: 1.5rem auto !important ;
        padding: 16px;
    }

   
}




@media (max-width:850px){
    :root{
        font-size: 17px;
    }


    .computer-monitor{
        max-width: 90%;
        max-height: 90%;
        margin:auto;
    }
    .list-of-actions{
       
        flex-direction: column;
         
    }

    .list-of-actions{
        margin-top: 2rem !important;
    }
   
    .list-of-actions ul{
        margin:2rem auto !important;
    }





    .tools-container{
        flex-direction: column;

    }

    .tools-container ul{

        margin-top: 3rem !important;

        }

        .company-container{
            flex-direction: column;
        }
                .company-container img{
                    margin-top: 3rem;
                }


    footer{
        flex-direction: column;
        
    }
             .logo-container{
                 margin-top: 3rem;
             }

            .service-links{
                flex-direction: column;
                margin: .5rem auto 0 !important;
                text-align: center;
                
            }
                        .service-links li{
                            margin-top: 1rem;
                        }


            
                    .social-links svg{
                         margin:2rem ;  
                           
                    }

                


}
